{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
        <div class="form-custom text-center">
        <a href="{% url 'tweet:index_page' %}"><img class="mb-4" src="/media/profile_pics/default.jpg" alt="" width="72" height="72"></a>
          <h1 class="h3 mb-3 font-weight-normal">赞 乎</h1>
        <p>有问题，上赞乎</p>
                <h3>{% trans "Change Password" %}</h3>
            <p>{% trans 'Your password is now changed.' %}</p>
        <p> 返回<a href="{% url 'tweet:index_page' %}">主页</a>，或现在去<a href="{% url 'account_login' %}">登录</a></p>
        </div>
{% endblock %}
