{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <form class="form-custom" method="POST"  action="{{ action_url }}">
        <div class="text-center mb-4">
        <a href="{% url 'tweet:index_page' %}"><img class="mb-4" src="/media/profile_pics/default.jpg" alt="" width="72" height="72"></a>
          <h1 class="h3 mb-3 font-weight-normal">赞 乎</h1>
        <p>有问题，上赞乎</p>
        <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-primary" role="alert">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <div class="form-label-group">
                    <input type="password" name="password1" id="id_password1 inputPassword" class="form-control"
                           placeholder="新密码"  required>
                    <label for="id_password1 inputPassword">新密码</label>
                </div>
                <div class="form-label-group">
                    <input type="password" name="password2" id="id_password2 inputPassword" class="form-control"
                           placeholder="重复新密码"  required>
                    <label for="id_password2 inputPassword">重复新密码</label>
                </div>
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">更改密码</button>
            {% else %}
                <p class="uk-text-center">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
</form>

{% endblock %}
