{% extends '../base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container pt-2">
    <div class="row pt-4">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 card-title">账号设置</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <a href="{% url 'user:setting_page' request.user.username %}" class="active list-group-item-action list-group-item">个人信息</a>
                    <a href="{% url 'account_email' %}" class="list-group-item-action list-group-item">邮箱设置</a>
                    <a href="{% url 'account_change_password' %}" class="list-group-item-action list-group-item">密码设置</a>
                    <a href="#" class="list-group-item-action list-group-item">站内信箱</a>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="bg-white shadow-sm p-3">
                <form method="post" action="{%  url 'user:setting_page' request.user.username %}"
                      enctype="multipart/form-data">
                {{ form |crispy }}
                    {% csrf_token %}
                <button type="submit" class="btn btn-primary">更新信息</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}