{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}第三方登录-注册-赞乎{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-body uk-width-1-2@s">
            <div class="uk-text-center uk-text-large">第三方注册</div>
        <p>您正在通过{{account.get_provider.name}}账户注册本站，请确认以下信息：</p>
<form class="signup uk-flex uk-flex-column" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    <button type="submit" class="uk-button uk-button-default uk-margin-top uk-flex uk-flex-center">注册</button>
</form>
    </div>





{% endblock %}
